*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*header*/
header{
    display: flex;
    flex-direction: column;
    gap: 4em;
    background-color : #1F2937;
    padding: 0.5em 13em 5em 13em;
}

.header_top{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    gap:6em;
}
.header_logo{
    font-size : 24px;
    color : #F9FAF8;
    
}
nav ul.header_links{
    display : flex;
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0;
}
nav a{
    text-decoration:none;
    color:#E5E7EB;
    font-weight: bold;
}
nav a:hover{
    color:aqua
}

.header_hero{
    display: flex;
    gap: 3em; /*Fest Abstand zwischen 2 Element ist die Zweite Weg*/
    align-items:center;
    justify-content: space-between;
    width: 100%;
}
.header_hero_text{
    display: flex;
    flex-direction:column;
    gap: 0.3em;/* Abstand zwischen h1, p und dem Button-Div */
    max-width:500px;
}
.hero_title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero_sub{
    font-size: 18px;
    color: #E5E7EB;
}
.hero_button{
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 1em;
    padding:0.75em 2em;
    border: none;
    border-radius:8px;
    cursor: pointer;
    margin-top: 8px;
}
button:hover{
    background-color:#2563eb ;

}
.placeholder{
    background:#6b7280;
    width:500px;
    height:260px;
    border-radius:8px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 1.1em;
    flex-shrink: 0;
}


/*main*/
.main_content{
    display: flex;
    margin: 2em 10em;
    flex-direction: column;
}
.main_title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.main_fig{
    display: flex;
    gap: 3em;
    padding: 2em 13em 2em 13em;
}
figure{
    flex: 1;
    height: auto;
    width: 100%;
}
figure img{
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid rgb(0, 229, 255);
    border-radius: 16px;
}
figcaption{
    text-align: center;
    font-size: 1em;
    color: #1F2937;
    margin-top: 0.5em;
}

.main_quote{
    display: flex;
    flex-direction: column;
    background-color: #999;
    padding: 5em 20em;
    margin : 5em 0em;
}
.quote{
    color: #1F2937;
    font-size:2.5em;
    font-style:italic;
    max-width: 60ch;
}
.quote_cite{
    color: black;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
}


.main_action{
    display: flex;
    justify-content:space-between;
    background-color: #3882F6;
    margin: 1em 13em 1em 13em;
    border-radius: 8px;
    align-items: center;
    padding: 2em 4em;
}
.action{
    color: #E5E7EB;
}
.action_title{
    font-size: 1.5em;
    font-weight: bold;
}
.action_button{
    background-color: transparent;
    color:#E5E7EB;
    font-weight: bold;
    border : 2px solid #E5E7EB;
    cursor: pointer;
    padding:0.75em 2em;
    border-radius:8px;
}
 

/*Footer*/
footer{
    display: flex;
    background-color: #1F2937;
    padding: 1.5em;
    margin-top:5em;
    justify-content: center;
    color: #E5E7EB;
}

























































/*header
header{
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    background-color: #1F2937;
}

.header_logo{
    font-size: 24px;
    color: #F9FAF8;
}

nav{
    background-color:#1F2937;
    padding:1%;
}

nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav li {
    display: center;
    flex: 1;
}

nav a{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
nav a:hover,
nav a:focus{
    color: red;
}


main{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}



footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
*/

